
/* ---- MENU ---- */

#header {
    height: 4.5rem;
    padding: 2rem 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #000;
    margin: 0;
}



#menu {
    display: flex;
    list-style: none;
    gap: .5rem ;
}

#menu a, #header a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1rem;
    color: #FFFFFF;
}

#header a h1 {
  font-size: 32px;
  font-weight: 300;
}

#btn-mobile {
    display: none;
}
.sumir-desktop {
  display: none;
}

/* ---- Fim do Menu ---- */

@media (max-width: 600px) {

    #menu {
      display: block;
      position: absolute;
      height: 0px;
      width: 100%;
      top: 10vh;
      right: 0px;
      text-align: center;
      background-color: #000;
      z-index: 1000;
      transition: .6s;
      visibility: hidden;
      overflow-y: hidden;
      margin: auto 0;
    }
    #nav.active #menu {
      height: calc(100vh - 10vh);
      visibility: visible;
      overflow-y: auto;;
    }
    #header {
          position: fixed;      /* Fixa no topo */
      top: 0;               /* Gruda no topo */
      left: 0;
      right: 0;
     margin: auto;
     height: 10vh;
     padding: 2rem;
    }
    #header a h1 {
      font-size: 2.2rem;
    }
    #menu a {
      font-weight: 400;
      font-size: 1.7rem;
      color: #ffffff;
      padding: 1.5rem 0;
      border-bottom: 1px solid #5a5a5a ;
      transition: .3s;
    }

    #menu a:hover {
      background-color: #7A2587;
      font-size: 1.3rem;
    }
    #nav.active #menu::-webkit-scrollbar {
      display: none;
    }

    #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    }

    #hamburguer {
      display: block;
      border-top: 2px solid;
      width: 27px;
      color: #ffffff
    }

    #hamburguer::after, #hamburguer::before {
      content: '';
      display: block;
      width: 27px;
      height: 2px;
      background: currentColor;
      margin-top: 7px;
      transition: .3s;
    }
    #nav.active #hamburguer {
    border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
    transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    margin-top: -2px;
    }
    .sumir-desktop {
      display: flex;
    }
    }

